body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-image: url('https://images.unsplash.com/photo-1583795484071-3c453e3a7c71?ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=100');
}